<div class="row">
  <div class="col-12">
    <div class="card boder-primary">
      <h3 class="card-header bg-primary">List</h3>
      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Point</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of students;let i = index" (click)="gotoDetail(i)">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td [ngSwitch]="item.gender">
              <span *ngSwitchCase="0">Famale</span>
              <span *ngSwitchCase="1">Male</span>
              <span *ngSwitchDefault>LGBT</span>
            </td>
            <td>{{item.point}}</td>
            <td >
              <span *ngIf="item.point >=75;else elseBlock">Pass</span>
              <ng-template #elseBlock>
                <span>Fail</span>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
